*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	background: #242424;
	font-size: 16px;
  color: #EFEDE7;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
}

/* HEADER */

._container {
  padding: 0px 180px;
}

.header {
  border-bottom: 1px solid #606060;
  padding: 30px 0px;
  margin-bottom: 132px;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #242424;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 66px;
}
.menu__item:hover {
  cursor: pointer;
}

.menu__item:last-of-type {
  margin: 0;
}

.header__icons {
  display: flex;
  gap: 32px;
}
.contacts__email {
  margin-bottom: 5px;
}

/* PAGE */

.page {
  padding-top: 234px;
}

.page__developer {
    margin-bottom: 178px;
    height: 440px;
}

.developer__body {
  position: relative;
}

.developer__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 90px;
  text-transform: uppercase;
  display: none;
}

.developer__profession {
  font-weight: 800;
  font-size: 98px;
  line-height: 50px;
  text-transform: uppercase;
  color: #E73C3C;
}

.frontend__img {
  position: absolute;
  top: 0;
  left: 0;
}

.developer__img {
  position: absolute;
  top: 240px;
  left: 200px;
} 

.developer__text {
  position: absolute;
  top: 0px;
  left: 280px;
  width: 360px;
  text-align: justify;
}

.developer__description {
  position: absolute;
  top: 330px;
  left: 430px;
  width: 360px;
  text-align: justify;
}




/* ABOUT */

.about__page {
  padding: 120px 0px;
  background: #333333;
}


.about__photo {
  width: 495px;
  height: 580px;
  margin-right: 100px;
}

.about__container {
  display: flex;
  justify-content: space-between;
}


.about__summary {
  display: flex;
}


.about__cv {
  display: flex;
  margin-bottom: 280px;
}

.summary__arrow {
  display: flex;
  align-items: center;
}

.summary__title {
  font-size: 32px;
  line-height: 140%;
  margin-right: 30px;
}

.about__age {
  opacity: 0.65;
}
.about__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #E73C3C;
  margin-bottom: 10px;
}

.about__text {
  line-height: 150%;
  text-align: justify;
}

/* PROJECTS */

.projects {
  padding: 100px 0px;
}

.projects__container {
  display: flex;
  gap: 105px;
}

.projects__header {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #E73C3C;
}

.projects__body {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;

}

.project__card {
  width: 367px;
}

.projects__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.projects__description {
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 13px;
}

.projects__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.skills__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 110px;
  height: 30px;
  background: rgba(239, 237, 231, 0.7);
  border-radius: 15px;
  color: #000000;
}

.projects__link a {
  color: #E73C3C;
  text-decoration-line: underline;
}

/* Education */

.education {
  padding: 142px 0px;
}



.education__description {
  display: flex;
  margin-bottom: 123px;
}
.education__description:last-of-type {
  margin: 0;
}

.education__title {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  color: #E73C3C;
  margin-right: 20px;
  width: 372px;
}


.education__card {
  display: flex;
  margin-bottom: 32px;
}
.education__card:last-of-type {
  margin: 0;
}

.education__year {
  font-size: 16px;
  line-height: 20px;
  color: #EFEDE7;
  opacity: 0.65;
  margin-right: 90px;
}

.name__title {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 10px;
}

.name__speciality {
  font-size: 16px;
  line-height: 140%;
  color: #EFEDE7;
  opacity: 0.65;
}


/* Technologies */

.technologies {
  background: #333333;
  padding: 120px 0px;
}



.technologies__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #E73C3C;
}

.technologies__title-mobile {
  display: none;
}

.technologies__description {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.technologies__skill {
  width: 329px;
  height: 220px;
  border: 2px solid rgba(239, 237, 231, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-title {
  display: block;
  text-align: left;
  border: none;
  pointer-events: none;
}

.technologies__skill:hover {
  background: #242424;
  border: 2px solid rgba(239, 237, 231, 0.3);
}

.skill__img {
  margin-bottom: 25px;
}

/* Footer */

.footer {
  padding: 117px 0px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__pages {
  display: flex;
}

.pages__item {
  margin-right: 127px;
}

.pages__link {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 40px;
}
.pages__link:hover {
  cursor: pointer;
}

.pages__link:last-of-type {
  margin: 0;
}

.pages__projects-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.pages__projects-title:hover {
  cursor: pointer;
}

.project__items {
  font-size: 13px;
  line-height: 20px;
  color: #EFEDE7;
  opacity: 0.65;
  margin-bottom: 10px;
}
.project__items  a{
  color: #EFEDE7;
  opacity: 0.65;
}

.contacts__summary {
  display: flex;
  align-items: center;
  margin-bottom: 110px;
} 



@media (max-width:1140px) {

  ._container {
    padding: 0px 40px;
  }

  .header__icons {
    display: none;
  }
  .header__icons-footer {
    display: flex;
  }

}

@media (max-width:950px) {

  ._container {
    padding: 0px 40px;
  }


  .developer__body, .about__cv  {
    display: none;
  }

  .developer__title {
    display: block;
  }

  .page__developer {
    margin-bottom: 60px;
    height: auto;
  } 
  .about__page {
    padding: 0px;
    background: #242424;
    margin-bottom: 80px;
  }

  .about__container {
    flex-direction: column;
  }
  .about__photo {
    margin-right: 0px;
    margin-bottom: 36px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .contacts__summary {
    margin-bottom: 30px;
  }

}

@media (max-width:720px) {
  .page {
    padding-top: 134px;
  }
  .header__container {
    justify-content: center;
  }

  .education__description {
    flex-direction: column;
  }

  .education__title {
    margin-bottom: 30px;
    width: 100%;
  }
  .projects__container {
    flex-direction: column;
    gap: 10px;
  }

  .skill-title {
    display: none;
  }
  .technologies__title-mobile {
    display: block;
    margin-bottom: 15px;
  }

  .technologies__description {
    flex-direction: column;
  }

  .developer__title {
    font-size: 44px;
    line-height: 50px;
  }
  
  .developer__profession {
    font-size: 60px;
    line-height: 50px;
  }
  .footer__container {
    flex-direction: column;
  }
  .pages__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .technologies__skill {
    width: 100%;
  }

  .project__card {
    width: 100%;
  }
}

@media (max-width:535px) {
  ._container {
    padding: 0px 20px;
  }
  .header {
    margin-bottom: 52px;
  }
  .about__photo {
    width: 332px;
    height: 392px;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
  }
  .page__developer {
    margin: 0;
  } 
  .developer__title {
    text-align: center;
  }

  .menu__item {

    margin-right: 40px;
    }

  .about__title, .education__title, .projects__header, .technologies__title {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
  }
  .education {
    padding: 0px;
    margin-bottom: 80px;
  }
  .projects {
    padding: 0px;
    margin-bottom: 80px;
  }
  .technologies {
    background: #242424;
    padding: 0px;
    margin-bottom: 80px;
  }
  .pages__link {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .pages__projects-title {
    font-size: 16px;
  }

  .projects__title {
    font-size: 16px;

  }
  .header__contacts {
    display: none;
  }

  .education__description {
    margin-bottom: 40px;
  }
  .footer {
    background: #333333;
    padding: 80px 0px;
  }
}



@media (max-width:390px) {

  ._container {
    padding: 0px 40px;
  }
  .developer__title {
    font-size: 35px;
    line-height: 50px;
  }


  
  .developer__profession {
    font-size: 48px;
    line-height: 50px;
  }
  .menu__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-right: 40px;
    }
    
    .education__year {
      margin-right: 30px;
    }
    .footer__contacts {
      flex-direction: column;
    }
    
}